body {
  background-color: #F5DD90;
}

#event-image {
  border-style: solid;
  border-radius: 5%;
  border-width: 3px;
  border-color: #586BA4;
}

.event-text {
  position: relative;
  bottom: 20px;
}

.image-and-caption {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}


