body {
  background-color: #F5DD90;
}

#event-image {
  border-style: solid;
  border-radius: 5%;
  border-width: 3px;
  border-color: #586BA4;
}

.image-and-caption {
  /* float: left; */
  margin-right: 15px;
  margin-bottom: 15px;
}

.event-text {
  position: relative;
  bottom: 17px;
  font-family: 'Nunito', sans-serif;
}

.vertical-timeline-element-date {
  display: none;
}
