

body {
  background-color: #EBD8D0 !important;
}

.badge.bg-primary {
  background-color: #6B9080 !important;
}

.form.control {
  background-color: #FFFFFF !important;
}

.desc-container {
  font-size: 100% !important;
  font-weight: bold !important;  
}

.event-text {
  font-size: 95% !important;
  line-height: 130% !important;
  font-weight: normal !important;
  padding: 0% !important;
  margin: 0% !important;
}

.event-info {
  font-family: 'Hind', sans-serif;
}

.modal {
}
#tagged {
  padding: 0% !important;
  margin: 0% !important;
}

